{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "chrome": "58",
          "ie": "11"
        },
        "plugins": ["core-js","regenerator-runtime","@babel/core", "@babel/runtime-corejs3"]
      },
    ]
  ],
  
}