@forward './modules/index';
@forward './views/index';
@use './library/colours';
@use './library/fonts';

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  @include fonts.font('primary');
  color: colours.theme-color('primary', 'base');
  background-color: colours.theme-color('background', 'base');
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
#app {
  min-height: 100vh;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  &.--is-dark {
    color: colours.theme-color('primary', 'dark');
    background-color: colours.theme-color('background', 'dark');
  }
}
