//https://scotch.io/tutorials/aesthetic-sass-2-colors
$theme-color-key: 'base' !default;

$theme_colors: (
	// texts
	'primary': (
		'base': #323130,
		'dark': #e1e6e4,
	),
	'accent': (
		'base': #181818,
		'dark': #2cc99a,
	),
	'secondary': (
		'base': #d33554,
		'dark': #51111e,
	),
	'danger': (
		'base': #e1fffb,
		'dark': #51111e,
	),
	//borders
	'foreground': (
		'base': #191919,
		'dark': #181b20,
	),
	'background': (
		'base': #FAF9F8,
		'dark': #2f3640,
	),
	'hoverground': (
		'base': #e0e0e0,
		'dark': #424d5c,
	),
);

$theme_opacity: (
	dark: 0.2,
);

@function theme-color(
	$name: 'primary',
	$variant: $theme-color-key,
	$opacity: 1
) {
	$color: null;

	// Get the color spectrum
	$color-spectrum: map-get($theme-colors, $name);

	// Get the color variant
	@if $color-spectrum {
		$color: map-get($color-spectrum, $variant);
	}

	// Get the alpha setting
	$alpha: if(
		type-of($opacity) == 'number',
		$opacity,
		map-get($theme-opacity, $opacity)
	);

	// Set the alpha of the color
	@if $alpha {
		$color: rgba($color, $alpha);
	}

	@return $color;
}
@mixin gradient($direction, $color-stops...) { 
	background: linear-gradient($direction, $color-stops);
}
@mixin corner-radius(){
	$corner-radius: 10px;
	border-radius: $corner-radius;
}
