@use '../Library/colours';
.item{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    min-height: 20px;
    min-width: 15px;
    border: 1px solid;
    background-color: colours.theme-color('foreground','base');
    &__dropzone{
        margin: 10px;
        min-height: 200px;
        min-width: 150px;
        height: auto;
        border: 1px solid;
        &.--is-child {
            margin: 4px;
            height: auto;
            min-height: 10px;
        }
    }
}