@use '../Library/_colours.scss';

.modal{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: _colours.theme-color('foreground','base',0.5);
    
    &__card{
        margin-top: 8vh;
        margin-left: 2vh;
        margin-right: 2vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        height: 84vh;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: _colours.theme-color('foreground','base',0.9);
        background-color: _colours.theme-color('background','base');
        color: _colours.theme-color('primary','base');
        box-shadow: 0px -1px 15px 0px rgba(71,71,71,0.67);
        &.--is-dark{
            color: _colours.theme-color('primary','dark');
            background-color: _colours.theme-color('background','dark');
        }
        &-head{
            min-height: 2em;
            border-bottom: 1px solid _colours.theme-color('foreground','base',0.5);
        }
        &-close{
            position: absolute;
            right: 1em;
            top: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-body{
            
        }
        &-foot{
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-evenly;
        }
        
    }
}